@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

* {
  @apply border-slate-200;
}

::selection {
  @apply bg-sky-200 text-slate-950;
}
